@font-face {
  font-family: myfont;
  src: url(GameOfSquids.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: #fff;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  animation: color 10s infinite;
}

.click {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  padding: 2em;
  gap: 50px;
}

img {
  max-width: 100%;
}

h1 {
  font-family: myfont;
  font-size: 2rem;
  animation:blink 2s linear infinite;
}

@keyframes blink{
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 1rem;
  }
}